.options{
    height:90vh;
    width:100vw;
    background-color:red;
    display:flex;
    align-items:center;
    justify-content:center;
}

.left{
    height:90vh;
    width:20vw;
    background-color:green;
    display:flex;
    align-items:center;
    flex-direction: column;
}
.right{
    height:90vh;
    width:80vw;
    background-color:pink;
    display:flex;
    align-items:center;
    align-items:center;
    flex-direction: column;
}

.showForms{
    height:100%;
    width:80vw;
    background-color:brown;
    display:flex;
    align-items:center;
    align-items:center;
    flex-direction: column;
}